﻿<?xml version="1.0" encoding="utf-8"?>
<html xml:lang="en-us" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head><title>Customer Site Requirement Changes</title>
        <link href="../../Resources/Stylesheets/master.css" rel="stylesheet" type="text/css" />
        <meta name="description" content="Provides an overview of changes to customer site requirements for [%=uWFO.Version%] of {%=uWFO.NULong%]." />
    </head>
    <body>
        <h1>Customer Site Requirement Changes for 18.1.1</h1>
        <div class="notification-note">
            <div class="notificationContent">
                <p>This topic discusses <b>only</b> those site requirements that have changed since the previous version of <MadCap:variable name="uWFO.NULong" />. For complete information regarding site requirements, see <MadCap:xref href="../ServerAndSite/ServerAndSiteOverview.htm" MadCap:conditions="MediaType.ScreenOnly">Server &amp; Site Overview</MadCap:xref><MadCap:conditionalText MadCap:conditions="MediaType.PrintOnly">the appropriate customer site requirements guide for your deployment model</MadCap:conditionalText> and the appropriate customer guide(s) for recording integrations, workforce management integrations, or both.</p>
            </div>
        </div>
        <h2>Server Hardware</h2>
        <p>There were no server hardware changes in 18.1.1.</p>
        <h2><a name="Server"></a>Server Software</h2>
        <ul>
            <li class="topic">Web servers hosting the <MadCap:variable name="uWFO.NULong" /> Web Portal require .NET framework v4.7.2.</li>
        </ul>
        <h2>User Workstation/PC </h2>
        <ul>
            <li class="topic">User workstations must use .NET 4.7.2. <MadCap:conditionalText MadCap:conditions="MediaType.ScreenOnly">For more information, see  <a href="../Installation/PrepAndPrereqs/InstallationPrereqs.htm">Installation Prerequisites.</a></MadCap:conditionalText></li>
        </ul>
        <h2>Database Changes</h2>
        <p>There were no database changes in 18.1.1.</p>
        <h2>Licensing</h2>
        <p>There were no licensing changes in 18.1.1.</p>
        <h2>Security</h2>
        <p>There were no security changes in 18.1.1.</p>
        <p MadCap:conditions="MediaType.ScreenOnly">&#160;</p>
        <h1 style="border-top-style: solid;border-top-width: 4px;border-bottom-style: solid;border-bottom-width: 2px;border-bottom-color: #0697d9;padding-top: 15px;padding-bottom: 8px;" MadCap:conditions="MediaType.ScreenOnly">Customer Site Requirement Changes for <MadCap:variable name="uWFO.Version" /></h1>
        <div class="notification-note">
            <div class="notificationContent">
                <p MadCap:conditions="MediaType.ScreenOnly">This topic discusses <b>only</b> those site requirements that have changed since the previous version of <MadCap:variable name="uWFO.NULong" />. For complete information regarding site requirements, see <MadCap:xref href="../ServerAndSite/ServerAndSiteOverview.htm" MadCap:conditions="MediaType.ScreenOnly">Server &amp; Site Overview</MadCap:xref><MadCap:conditionalText MadCap:conditions="MediaType.PrintOnly">the appropriate customer site requirements guide for your deployment model</MadCap:conditionalText> and the appropriate customer guide(s) for recording integrations, workforce management integrations, or both.</p>
            </div>
        </div>
        <h2 MadCap:conditions="MediaType.ScreenOnly">Server Hardware</h2>
        <p MadCap:conditions="MediaType.ScreenOnly">Hardware requirements vary depending on the deployment model, telephony integration, <MadCap:variable name="uWFO.NUShort" /> components used, and number of concurrent users in the system.</p>
        <ul>
            <li class="topic" MadCap:conditions="MediaType.ScreenOnly">Your server must have at least 4 Cores and 12GB of RAM dedicated to <MadCap:variable name="uWFO.NUShort" />.</li>
            <li class="topic" MadCap:conditions="MediaType.ScreenOnly">Hardware requirements used by Sales Engineering were revised mid-2017. This information can be found in the document <i>Minimum Server Specification Guidelines</i>.</li>
        </ul>
        <h2 MadCap:conditions="MediaType.ScreenOnly"><a name="Server"></a>Server Software</h2>
        <ul>
            <li class="topic" MadCap:conditions="MediaType.ScreenOnly">32-bit and 64-bit Microsoft Visual C++ Redistributable for Visual Studio  2017 must  be installed on all <MadCap:variable name="uWFO.NUShort" /> servers (in addition to libraries required in previous versions).</li>
            <li class="topic" MadCap:conditions="MediaType.ScreenOnly">Web servers hosting the <MadCap:variable name="uWFO.NULong" /> Web Portal require .NET framework v4.7.1.</li>
            <li class="topic" MadCap:conditions="MediaType.ScreenOnly">No changes in server OS for <MadCap:variable name="uWFO.Version" />.</li>
            <li class="topic" MadCap:conditions="MediaType.ScreenOnly">No changes to SQL requirements for <MadCap:variable name="uWFO.Version" />.
        <div class="internal-note" MadCap:conditions="uWFO.Internal"><div class="notificationContent"><p MadCap:conditions="MediaType.ScreenOnly">SQL Server 2017 is not yet supported.</p></div></div></li>
        </ul>
        <div class="internal-note" MadCap:conditions="uWFO.Internal">
            <div class="notificationContent">
                <p MadCap:conditions="MediaType.ScreenOnly">For detailed information about supported integrations, see the <a href="https://incontactcorp.sharepoint.com/:x:/r/sites/NICEUptivity/_layouts/15/WopiFrame.aspx?sourcedoc=%7BBAB97B54-CB3B-441C-B050-3C72CFF55AB7%7D&amp;file=UptivityIntegrationsDescriptionDocument.xlsx&amp;action=default">Integration Matrix</a>. </p>
                <p MadCap:conditions="MediaType.ScreenOnly">You will need your <MadCap:variable name="General.companyShort" /> credentials to access this document.</p>
            </div>
        </div>
        <h2 MadCap:conditions="MediaType.ScreenOnly">User Workstation/PC </h2>
        <div class="notification-note">
            <div class="notificationContent">
                <p MadCap:conditions="MediaType.ScreenOnly">When a system includes <MadCap:variable name="uWFO.Screen" />, <MadCap:variable name="uWFO.NU&#160;Desktop Analytics" />, or both, consult <MadCap:variable name="uWFO.NUShort" /> Sales Engineering  for recommended system requirements based on business needs.</p>
            </div>
        </div>
        <ul>
            <li class="topic" MadCap:conditions="MediaType.ScreenOnly">32-bit and 64-bit C++ libraries for 2010 and 2017 are required on user workstations in addition to libraries required in previous versions. </li>
            <li class="topic" MadCap:conditions="MediaType.ScreenOnly">User workstations must use .NET 4.7.1. <MadCap:conditionalText MadCap:conditions="MediaType.ScreenOnly">For more information, see  <a href="../Installation/PrepAndPrereqs/InstallationPrereqs.htm">Installation Prerequisites.</a></MadCap:conditionalText></li>
            <li class="topic" MadCap:conditions="MediaType.ScreenOnly">Microsoft Silverlight no longer needs to be installed as it is no longer used in <MadCap:variable name="uWFO.NUShort" />. </li>
            <li class="topic" MadCap:conditions="MediaType.ScreenOnly">For screen capture, communication between the User Workstation and the RabbitMQ server require outbound TCP activity on ports 5672.</li>
            <li class="topic" MadCap:conditions="MediaType.ScreenOnly"><b>Internet Explorer 11</b> — Internet Explorer version 11 remains supported by <MadCap:variable name="uWFO.NULong" /> <MadCap:variable name="uWFO.Version" /> with limitations: 
				<ul><li class="topic" MadCap:conditions="MediaType.ScreenOnly">Live Monitor is not available using IE 11.</li><li class="topic" MadCap:conditions="MediaType.ScreenOnly">At the end of a recording, the playhead indicator does not reset at the beginning of the recording.</li><li class="topic" MadCap:conditions="MediaType.ScreenOnly">When a user closes the Screen pane and the Layer Details pane, the Waveform Display maximizes to the full screen size.</li><li class="topic" MadCap:conditions="MediaType.ScreenOnly">When using either the Waveform Display or the Seek icon, the user must click the Play icon to continue playing the call.</li><li class="topic" MadCap:conditions="MediaType.ScreenOnly">If a user changes the playback speed, the Waveform Indicator appears beyond the total duration time in the Playback Details pane.</li></ul><p MadCap:conditions="MediaType.ScreenOnly"><MadCap:variable name="uWFO.NULong" /> <MadCap:variable name="uWFO.Version" /> is expected to be the last <MadCap:variable name="uWFO.NULong" /> release to officially support the use of Internet Explorer.</p><div class="notification-warning"><div class="notificationContent"><p MadCap:conditions="MediaType.ScreenOnly">Due to some functionality that is not compatible with the Internet Explorer 11 browser, we do not recommend using IE 11 with <MadCap:variable name="uWFO.NUShort"></MadCap:variable><MadCap:variable name="uWFO.Version"></MadCap:variable>.</p></div></div></li>
        </ul>
        <h2 MadCap:conditions="MediaType.ScreenOnly">Database Changes</h2>
        <p class="topic" MadCap:conditions="MediaType.ScreenOnly">There was a material change to track which calls have been uploaded to <MadCap:variable name="uWFO.CXoneShort" />.</p>
        <h2 MadCap:conditions="MediaType.ScreenOnly">Licensing</h2>
        <p class="topic" MadCap:conditions="MediaType.ScreenOnly">There are no licensing changes for <MadCap:variable name="uWFO.NULong" /> <MadCap:variable name="uWFO.Version" />.</p>
        <div class="internal-note" MadCap:conditions="uWFO.Internal">
            <div class="notificationContent">
                <p MadCap:conditions="MediaType.ScreenOnly">No changes to the premise license are required to use <MadCap:variable name="uWFO.CXonePro"></MadCap:variable>.</p>
                <p MadCap:conditions="MediaType.ScreenOnly"> New customers should not be licensed for Uptivity QM if they were sold <MadCap:variable name="uWFO.CXonePro" />.</p>
            </div>
        </div>
        <h2 MadCap:conditions="MediaType.ScreenOnly">Security</h2>
        <p class="topic" MadCap:conditions="MediaType.ScreenOnly">There are no security changes for version <MadCap:variable name="uWFO.Version" />.</p>
        <div class="internal-note" MadCap:conditions="uWFO.Internal">
            <div class="notificationContent">
                <p MadCap:conditions="MediaType.ScreenOnly">Roles and rights for <MadCap:variable name="uWFO.CXonePro" /> are defined in <MadCap:variable name="uWFO.CXoneShort" />.</p>
            </div>
        </div>
        <div class="ReturnToContainerTopic" MadCap:conditions="MediaType.ScreenOnly"><b>Return to <MadCap:xref href="Introduction.htm"><MadCap:variable name="uWFO.NULong" /><MadCap:variable name="uWFO.Version" /> Release Notes</MadCap:xref></b>
        </div>
    </body>
</html>