﻿<?xml version="1.0" encoding="utf-8"?>
<html xml:lang="en-us" MadCap:lastBlockDepth="5" MadCap:lastHeight="624" MadCap:lastWidth="1017" MadCap:conditions="uWFO.DoNotPRINT" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head><title>Apply Blackouts in Server-Based [%=uWFO.NU OnD%]</title>
        <link href="../../../Resources/Stylesheets/master.css" rel="stylesheet" type="text/css" />
        <meta name="description" content="Explains how to blackout sensitive information while recording using the client/server version of {%=uWFO.OnD%]. Answers the question: How do I blackout part of a call on demand?" />
    </head>
    <body>
        <h1>Apply Blackouts in Server-Based <MadCap:variable name="uWFO.NU OnD" /></h1>
        <p><b>Required Permissions</b> — Allow Blackout Start and Stop</p>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>Overview</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <p>The <MadCap:variable name="uWFO.NU OnD" /> client application is the primary user interface for agents to start or stop audio recording, start or stop screen recording, start or stop blackouts, add information to recordings, or any combination of these. </p>
                <p>This topic explains how to apply a blackout during a recorded interaction. Blackouts are used to protect sensitive information, such as credit card numbers or protected health information.</p>
                <p>For more information, see <MadCap:xref href="OnDemandOverview.htm">[%=uWFO.NU OnD%] Overview</MadCap:xref>.</p>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <div class="notification-note">
            <div class="notificationContent">
                <p>If you use <MadCap:variable name="uWFO.NU OnD" /> from a web portal, this topic does not apply.</p>
            </div>
        </div>
        <ol class="stepList">
            <li>Right-click the <MadCap:variable name="uWFO.NU OnD" /> icon in the system tray.</li>
            <li>Click <span class="interface">Start Blackout</span>.
                </li>
            <li>Click <span class="interface">Stop Blackout</span> when ready. </li>
        </ol>
    </body>
</html>