﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us" MadCap:lastBlockDepth="4" MadCap:lastHeight="1510" MadCap:lastWidth="930">
    <head>
        <title>Log in to the [%=uWFO.NU OnD%] Web Portal</title>
        <link href="../../../Resources/Stylesheets/master.css" rel="stylesheet" type="text/css" />
        <meta name="description" content="Explains how to log in to the {%=uWFO.OnD%] web portal. Answers the question: How do I log in?" />
    </head>
    <body>
        <h1>Log in to the <MadCap:variable name="uWFO.NU OnD" /> Web Portal</h1>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>Overview</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <p>The <MadCap:variable name="uWFO.NU OnD" /> web portal is the primary user interface  for agents to start or stop audio recording on demand, start or stop blackouts, add information to recordings, or any combination of these. </p>
                <p>This topic explains how to log in to the web portal.</p>
                <p>For more information, see <MadCap:xref href="OnDemandOverview.htm">[%=uWFO.NU OnD%] Overview</MadCap:xref>.</p>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <div class="notification-note">
            <div class="notificationContent">
                <p>If you use <MadCap:variable name="uWFO.NU OnD" /> from a desktop application, this topic does not apply.</p>
            </div>
        </div>
        <ol class="stepList">
            <li>Type the URL (host name or IP address) of the <MadCap:variable name="uWFO.NU OnD" /> web portal into a web browser's address bar (for example, http://uptivityondemand.yourcompany.com).
                </li>
            <li>Enter your <span class="fieldName">User Name</span> and <span class="fieldName">Password</span>.
                <div class="thumbnailImg"><img src="../../Application/WebPortal/Images/LogIn2.png" style="mc-thumbnail: pop-up" /></div></li>
            <li>
                <b>Optional:</b> Select the <span class="fieldName">Remember my username?</span> checkbox.
                <div><img src="../../Application/WebPortal/Images/LogIn3.png" /></div></li>
            <li>Click <span class="interface">Login</span>.</li>
            <li>For <span class="fieldName">Device Alias</span>, enter your extension number or agent login ID. If you are not sure what value to enter, ask your supervisor.
                <div><img src="Images/WebOnDemandSettings.jpg" /></div></li>
            <li>Click <span class="interface">OK</span>.</li>
        </ol>
    </body>
</html>