﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us" MadCap:lastBlockDepth="6" MadCap:lastHeight="880" MadCap:lastWidth="904">
    <head>
        <title>Record Screens in Server-Based [%=uWFO.NU OnD%]</title>
        <link href="../../../Resources/Stylesheets/master.css" rel="stylesheet" type="text/css" />
        <meta name="description" content="Explains how to trigger screen recording using Hybrid {%=uWFO.OnD%]. Answers the question: How do I record my desktop on demand?" />
    </head>
    <body>
        <h1>Record Screens in Server-Based <MadCap:variable name="uWFO.NU OnD" /></h1>
        <p>
            <b>Required Permissions</b> — Allow Desktop Recording</p>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>Overview</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <p>The <MadCap:variable name="uWFO.NU OnD" /> client application is the primary user interface  to start or stop audio recording, start or stop screen recording, start or stop blackouts, add information to recordings, or any combination of these. </p>
                <p>This topic explains how to start a screen recording.</p>
                <p>For more information, see <MadCap:xref href="OnDemandOverview.htm">[%=uWFO.NU OnD%] Overview</MadCap:xref>.</p>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <div class="notification-note">
            <div class="notificationContent">
                <p>If you use <MadCap:variable name="uWFO.NU OnD" /> from a web portal, this topic does not apply.</p>
                <p>This feature is not available if your organization does not use <MadCap:variable name="uWFO.Screen" />.</p>
                <p>Follow these steps if you want record your screen but are not on a call (for example, to record a chat or email conversation). When you record the audio for a call by clicking <span class="interface">Start Audio Recording</span>, your associated screen activity will record automatically.</p>
            </div>
        </div>
        <ol class="stepList">
            <li>Right-click the <MadCap:variable name="uWFO.NU OnD" /> icon in the system tray.</li>
            <li>Click <span class="interface">Start Desktop Recording</span>.
                <div class="thumbnailImg"><img src="Images/P_DesktopOnDemandClientServer.png" style="mc-thumbnail: popup;" /></div></li>
            <li>Click <span class="interface">Stop Desktop Recording</span> when ready. </li>
        </ol>
    </body>
</html>