﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us" MadCap:lastBlockDepth="6" MadCap:lastHeight="941" MadCap:lastWidth="904" MadCap:conditions="uWFO.DoNotPRINT">
    <head>
        <title>Record Screens in Web-Based [%=uWFO.NU OnD%]</title>
        <link href="../../../Resources/Stylesheets/master.css" rel="stylesheet" type="text/css" />
        <meta name="description" content="Explains how to trigger screen recording using Hybrid {%=uWFO.OnD%]. Answers the question: How do I record my desktop on demand?" />
    </head>
    <body>
        <h1>Record Screens in Web-Based <MadCap:variable name="uWFO.NU OnD" /></h1>
        <p>
            <b>Required Permissions</b> — Allow Web On Demand and Allow Desktop Recording</p>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>Overview</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <p>The <MadCap:variable name="uWFO.NU OnD" /> web portal is the primary user interface for agents to start or stop audio recording, start or stop screen recording, start or stop blackouts, add information to recordings, or any combination of these. </p>
                <p>This topic explains how to start a screen recording.</p>
                <p>For more information, see <MadCap:xref href="OnDemandOverview.htm">[%=uWFO.NU OnD%] Overview</MadCap:xref>.</p>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <div class="notification-note">
            <div class="notificationContent">
                <p>If you use <MadCap:variable name="uWFO.NU OnD" /> from a desktop application, this topic does not apply.</p>
            </div>
        </div>
        <div class="notification-note">
            <div class="notificationContent">
                <p>Follow these steps if you want record your screen but are not on a call (for example, to record a chat or email conversation). When you record the audio for a call by clicking <span class="interface">Start Audio Recording</span>, your associated screen activity will record automatically.</p>
            </div>
        </div>
        <ol class="stepList">
            <li>In the <MadCap:variable name="uWFO.NU OnD" /> Web Portal, click <span class="interface">Start Desktop Recording</span>.
                <div class="thumbnailImg"><img src="Images/RecordAudio1.png" style="mc-thumbnail: popup;" /></div></li>
            <li>From the drop-down list, select whether to record <span class="fieldValue">By Extension</span> or <span class="fieldValue">By Agent Number</span>.                <div class="thumbnailImg"><img src="Images/RecordAudio2.png" style="mc-thumbnail: pop-up;" /></div></li>
            <li>Click <span class="interface">Stop Desktop Recording</span> when ready. </li>
        </ol>
    </body>
</html>