﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us" MadCap:lastBlockDepth="5" MadCap:lastHeight="868" MadCap:lastWidth="917">
    <head>
        <title>Record Audio in Web-Based [%=uWFO.NU OnD%]</title>
        <link href="../../../Resources/Stylesheets/master.css" rel="stylesheet" type="text/css" />
        <meta name="description" content="Explains how to trigger an audio recording using web-based {%=uWFO.OnD%]. Answers the question: How do I record a call on demand?" />
    </head>
    <body>
        <h1>Record Audio in Web-Based <MadCap:variable name="uWFO.NU OnD" /></h1>
        <p>
            <b>Required Permissions</b> — Allow Web On Demand plus Allow Recording by Device ID, Allow Recording by Device Alias, or both</p>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>Overview</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <p>The <MadCap:variable name="uWFO.NU OnD" /> web portal is the primary user interface for agents to start or stop audio recording, start or stop blackouts, add information to recordings, or any combination of these. </p>
                <p>This topic explains how to start an audio recording.</p>
                <p>For more information, see <MadCap:xref href="OnDemandOverview.htm">[%=uWFO.NU OnD%] Overview</MadCap:xref>.</p>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <div class="notification-note">
            <div class="notificationContent">
                <p>If you use <MadCap:variable name="uWFO.NU OnD" /> from a desktop application, this topic does not apply.</p>
            </div>
        </div>
        <ol class="stepList">
            <li>In the <MadCap:variable name="uWFO.NU OnD" /> Web Portal, click <span class="interface">Start Audio Recording</span>.              <div class="thumbnailImg"><img src="Images/WebOnDemandHeader.jpg" style="mc-thumbnail: popup;" /></div></li>
            <li>From the drop-down list, select whether to record <span class="fieldValue">By Extension</span> or <span class="fieldValue">By Agent Number</span>.
                <div class="thumbnailImg"><img src="Images/RecordAudio2.png" style="mc-thumbnail: pop-up;" /></div></li>
            <li>Click <span class="interface">Stop Audio Recording</span> when ready. </li>
        </ol>
    </body>
</html>