﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us" MadCap:lastBlockDepth="5" MadCap:lastHeight="871" MadCap:lastWidth="917">
    <head>
        <title>Update Call Records in Server-Based [%=uWFO.NU OnD%]</title>
        <link href="../../../Resources/Stylesheets/master.css" rel="stylesheet" type="text/css" />
        <meta name="description" content="Explains how to update the user-defined fields associated with a recorded interaction using web-based {%=uWFO.OnD%]." />
    </head>
    <body>
        <h1>Update Call Records in Server-Based <MadCap:variable name="uWFO.NU OnD" /></h1>
        <p>
            <b>Required Permissions</b> — Allow Call Updates plus permission to edit one or more of the user-defined fields</p>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>Overview</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <p>The <MadCap:variable name="uWFO.NU OnD" /> client application is the primary user interface for agents to start or stop audio recording, start or stop screen recording, start or stop blackouts, add information to recordings, or any combination of these. </p>
                <p>This topic explains how to update the user-defined fields associated with a call.</p>
                <p>For more information, see <MadCap:xref href="OnDemandOverview.htm">[%=uWFO.NU OnD%] Overview</MadCap:xref>.</p>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <div class="notification-note">
            <div class="notificationContent">
                <p>If you use <MadCap:variable name="uWFO.NU OnD" /> from a web browser, this topic does not apply.</p>
            </div>
        </div>
        <ol class="stepList">
            <li>Right-click the <MadCap:variable name="uWFO.NU OnD" /> icon in the system tray.</li>
            <li>Click <span class="interface">Update Call Record</span>.
                </li>
            <li>Enter information in one or more of the fields. You will only see fields you have permission to update.<![CDATA[                ]]><div class="thumbnailImg"><img src="Images/P_OnDemandUpdateCallRecords.png" style="mc-thumbnail: pop-up;" /></div></li>
            <li>Click <span class="interface">OK</span>. </li>
        </ol>
    </body>
</html>