﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us" MadCap:lastBlockDepth="5" MadCap:lastHeight="1194" MadCap:lastWidth="917">
    <head>
        <title>Update Call Records in Web-Based [%=uWFO.NU OnD%]</title>
        <link href="../../../Resources/Stylesheets/master.css" rel="stylesheet" type="text/css" />
        <meta name="description" content="Explains how to update the user-defined fields associated with a recorded interaction using web-based {%=uWFO.OnD%]." />
    </head>
    <body>
        <h1>Update Call Records in Web-Based <MadCap:variable name="uWFO.NU OnD" /></h1>
        <p>
            <b>Required Permissions</b> — Allow Web On Demand, Allow Call Updates, and permission to edit one or more of the user-defined fields</p>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>Overview</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <p>The <MadCap:variable name="uWFO.NU OnD" /> web portal is the primary user interface  to start or stop audio recording, start or stop blackouts, add information to recordings, or any combination of these. </p>
                <p>This topic explains how to update the user-defined fields associated with a call.</p>
                <p>For more information, see <MadCap:xref href="OnDemandOverview.htm">[%=uWFO.NU OnD%] Overview</MadCap:xref>.</p>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <div class="notification-note">
            <div class="notificationContent">
                <p>If you use <MadCap:variable name="uWFO.NU OnD" /> from a desktop application, this topic does not apply.</p>
            </div>
        </div>
        <ol class="stepList">
            <li>In the <MadCap:variable name="uWFO.NU OnD" /> Web Portal, click <span class="interface">Update Call Record</span>.
                <div class="thumbnailImg"><img src="Images/RecordAudio1.png" style="mc-thumbnail: popup;" /></div></li>
            <li>Enter information in one or more of the fields.
You will only see those fields which you have permission to update.   <div class="thumbnailImg"><img src="Images/UpdateCallRecord2.png" style="mc-thumbnail: pop-up;" /></div></li>
            <li>Click <span class="interface">Save</span>. </li>
        </ol>
    </body>
</html>