/*<meta conditions="uWFO.DoNotPRINT" />*/

/* Home Page General Styles*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic');

@import url('fontawesome-all.css');

.small-3.columns,
.small-4.columns,
.small-6.columns
{
	text-align: center;
}

.small-3 ul,
.small-4 ul,
.small-6 ul
{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

.small-3 h3,
.small-4 h3,
.small-6 h3
{
	color: #777;
	font-size: 1.3em;
	margin: 8px;
}

.small-3 i,
.small-4 i,
.small-6 i
{
	font-size: 3em;
	color: #f15d22;
}

.small-3 a,
.small-4 a,
.small-6 a
{
	color: darkgray;
	text-decoration: none;
}

.small-3 a:hover,
.small-4 a:hover,
.small-6 a:hover
{
	color: #f15d22;
	text-decoration: underline;
}

.small-3 > a:hover,
.small-4 > a:hover,
.small-6 > a:hover
{
	text-decoration: none;
}

.small-3 p,
.small-4 p,
.small-6 p
{
	margin: 0;
}

.outer-row .columns
{
	margin-bottom: 24px;
}

body
{
	font-family: 'Helvetica Neue', sans-serif;
	line-height: 1.5em;
	color: #404041;
}

a.BlackText
{
	color: #000000;
	text-decoration: none;
}

h1
{
	font-size: 2.75em;
}

h3
{
	font-size: 1.6785em;
}

h3.SubCenter
{
	text-align: center;
}

img.Hyperlinked
{
	border-style: none;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

p
{
	color: #5a5a5a;
	margin-bottom: 8px;
	margin-top: 8px;
}

p.Copyright
{
	font-size: 0.9em;
	text-align: left;
	color: #888888;
	line-height: 1.6em;
	margin: 0 0 10px 0;
}

.centered-text
{
	text-align: center;
}

.center
{
	/* position: absolute; */
	margin-right: auto;
	margin-left: auto;
	float: none !important;
	text-align: center;
}

.whiteheader
{
	color: #fff;
	font-weight: normal;
	/* text-shadow: 2px 2px #000; */
}

.main-section > .row.outer-row
{
	max-width: 100%;
	padding: 0;
}

/* Home Page Button Styles */

.button
{
	cursor: pointer;
	background-color: transparent;
	width: 200px;
	height: 35px;
	font-weight: bold;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-ms-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
}

.button.black
{
	border: solid 2px black;
	color: black;
}

.button.black:hover
{
	background-color: #ccc;
}

.button a
{
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

/*-----------------------Customize Menu section-----------------------------

ul.navigation ul {

	z-index: 1000;
	width: auto;
	margin: 0;
	padding: 5px 1px 5px 1px;
	position: absolute;
	background-color: #ffffff;
}

ul.navigation ul ul {
	top: -5px;
	left: 100%;
	background-color: #ffffff;
}

ul.navigation a {
    color: #6e7583;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    height: 100%;
    outline: medium none;
    text-decoration: none;
}

ul.navigation li > a:hover {
    background-repeat: repeat;
    color: #0093A6;
    font-family: "Roboto", sans-serif;
}*/

/*-----------------------End Customize Menu section-------------------------*/
/* Responsive Header Styles*/

#contentBody > .responsive-header
{
	background-color: transparent;
}

/* Content Section */

#content-section
{
	/* padding-top: 60px; */
	padding-bottom: 60px;
	/* margin-top: -50px; */
	background-color: #ffffff;
}

#content-section h3
{
	font-weight: normal;
}

.right-section div.button-group,
.left-section div.button-group
{
	margin-top: 20px;
}

#content-section .left-section
{
	padding-right: 20px;
}

#content-section .right-section
{
	padding-left: 20px;
}

.left-section .left-content,
.right-section .right-content
{
	height: 270px;
}

#content-section .right-section .table-images:first-of-type
{
	margin-bottom: 20px;
}

#content-section.mc-blurb .mc-bullets
{
	margin-top: 10px;
	padding-left: 30px;
	padding-right: 10px;
}

#content-section.mc-blurb .mc-bullets > li
{
	color: #5a5a5a;
	list-style-image: url('../Images/Bullet1.png');
	font-size: 14px;
	margin-top: 8px;
	line-height: 1.6em;
}

/*-----------------------Home Page Topic Hero section-----------------------------*/

div.topicHero
{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	/* padding-top: 20px; */
	height: 200px;
	/* padding-bottom: 150px; */
	background: url('../Images/hero.png') no-repeat;
	background-position: 50% 100%;
	padding: 16px;
	margin: 0;
	margin-bottom: 40px;
}

div.topicHero h1
{
	font-size: 2.5em;
	/* margin-top: 1.11em; */
	/* margin-bottom: 0.5em; */
	line-height: 100%;
	padding-top: 1em;
	margin: 0;
}

div.topicHero h3
{
	font-size: 1.8em;
	/* margin-bottom: 2em; */
	line-height: 100%;
	color: #ffffff;
}

p a:visited
{
	color: #7d3cc8;
	text-decoration: underline;
}

p a:hover
{
	color: #006e99;
	text-decoration: underline;
}

.footer-socials li a:hover
{
	color: #fff !important;
	text-decoration: underline;
}

@media mobile
{
	div.topicHero
	{
		background-size: 100% 100%;
		background-repeat: no-repeat;
		/* padding-top: 20px; */
		height: 200px;
		/* padding-bottom: 150px; */
		background: url('../Images/hero-image-mobile-bw7.png') no-repeat;
		background-position: 50% 100%;
		padding: 16px;
		margin: 0;
		margin-bottom: 40px;
	}

	div.topicHero h1
	{
		text-align: right;
		font-size: 2em;
	}

	div.topicHero h3
	{
		text-align: right;
		font-size: 1.6em;
	}

	.logo a
	{
		background: transparent url('../Images/logoSmall.png') no-repeat center center;
	}
}

/* Medium Layout */

@media only screen and (max-width: 64.063em)
{
	#content-section .right-section,
	#content-section .left-section
	{
		padding: 0;
	}

	.left-section div.button-group > div
	{
		margin-bottom: 20px;
	}

	.footer
	{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	/*

	
	div.topicHero h1
	{
		font-size: 2em;
	}

	div.topicHero h3
	{
		font-size: 1.2em;
	}
	*/
}

#contentBody
{
	background-color: #ffffff;
}

.black
{
	border-bottom-left-radius: 0px;
	border-radius: 0px;
}

/*-----------------------End Home Page Topic Hero section--------------------------*/
/* Mad Cap proxy/editor assigned styles */

MadCap|topicToolbarProxy
{
	float: none;
}

p.TOC2
{
	margin-left: 20px;
	display: none;
}

MadCap|menuProxy.menu1
{
	mc-toc-depth: 1;
	mc-context-sensitive: True;
}

MadCap|menuProxy.menu2
{
	mc-toc-depth: 1;
	mc-context-sensitive: True;
}

/*--------------------------Responsive Body Content-----------------------------*/

div.SingleColumnResponsive
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.SingleColumnResponsive::before
{
	content: ' ';
	display: table;
}

div.SingleColumnResponsive::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.SingleColumnResponsive > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media tablet
{
	
}

@media mobile
{
	div.SingleColumnResponsive > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.SingleColumnResponsive > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.SingleColumnResponsive > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.SingleColumnResponsive > div:nth-child(4)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.SingleColumnResponsive > div:nth-child(5)
	{
		width: 100%;
		margin-left: 0%;
	}
}

/*------------------------End Responsive Body Content---------------------------*/
/*-------------------------------WFO Body Styles-------------------------------*/

html.HomePageWFO
{
	/* mc-master-page: url('Content/Resources/MasterPages/HomePage2.flmsp'); */
	mc-community-features: disabled;
}

.small-3 i,
.small-4 i,
.small-6 i
{
	font-size: 3em;
	color: #005b49;
}

.small-3 a:hover,
.small-4 a:hover,
.small-6 a:hover
{
	color: #005b49;
}

p a
{
	color: #009edb;
	text-decoration: underline;
}

a
{
	color: #009edb;
}

.super-text
{
	font-size: 28px;
	padding-top: 0px;
	padding-bottom: 8px;
	margin-left: -175px;
	margin-bottom: -35px;
	margin-top: 0px;
	color: #fff;
	font-weight: normal;
	/* text-shadow: 2px 2px #000; */
}

.whiteheader
{
	color: #fff;
	font-weight: bold;
	padding-bottom: 20px;
	/* text-shadow: 2px 2px #000; */
}

.outer-row .columns
{
	margin-top: 15px;
	margin-bottom: 24px;
}

.divider-spacer
{
	padding-top: 20px;
	padding-bottom: 20px;
}

.divider-line span
{
	border-bottom: none;
	background: #fff;
	padding: 0 10px;
	color: #005b49;
}

.divider-line
{
	width: 80%;
	text-align: center;
	border-bottom: 1px solid darkgray;
	line-height: 0.1em;
	margin: 10px 10% 20px;
}

.pushright
{
	padding-right: 200px;
}

.pushleft
{
	padding-left: 200px;
}

/*-------------------------------End WFO Body Styles---------------------------*/
/* -------------------------------------Footer---------------------------------*/
/* Home Page Footer */

.footer
{
	padding-top: 40px;
	padding-bottom: 40px;
	color: #ffffff;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.footer a
{
	text-decoration: none;
	color: #d0d2d3;
}

.footer > div.row
{
	line-height: 30px;
	padding: 0;
}

.footer-logo
{
	max-width: 100%;
}

.footer-links
{
	text-align: left;
	color: #ffffff;
}

.footer-links a
{
	padding-right: 15px;
}

.footer-icons
{
	text-align: right;
}

.footer-icons > a:first-of-type
{
	padding-right: 10px;
}

/*Copyright*/

.copyright
{
	background: #fa8c00;
	border-top: none;
	padding: 10px 0 5px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.copyright p
{
	color: #fff;
	margin-top: 14px;
}

.copyright a
{
	margin: 0 2px;
}

.footer-socials
{
	margin-top: 12px;
	text-align: right;
}

.footer-socials li a
{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}

@media (max-width: 991px)
{
	.copyright,
	.footer-socials
	{
		text-align: left;
	}
}

.col-md-6
{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

@media (min-width: 992px)
{
	.col-md-6
	{
		width: 50%;
	}
}

@media (min-width: 992px)
{
	.col-md-6
	{
		float: left;
	}
}

@media (min-width: 1024px)
{
	.copyright .container
	{
		width: 1000px;
	}
}

@media (min-width: 1200px)
{
	.copyright .container
	{
		width: 1170px;
	}
}

@media (min-width: 992px)
{
	.container
	{
		width: 970px;
	}
}

@media (min-width: 768px)
{
	.container
	{
		width: 750px;
	}
}

.container
{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.footer-socials
{
	margin-top: 12px;
	text-align: right;
}

.list-inline
{
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}

.list-inline > li
{
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

@media tablet
{
	.mobileFooter
	{
		padding-bottom: 35px;
	}

	.col-md-6 p,
	.col-md-6 ul
	{
		text-align: center;
	}
}

@media mobile
{
	.mobileFooter
	{
		padding-bottom: 45px;
	}

	.col-md-6 ul li a,
	.col-md-6 p
	{
		font-size: 13px;
		margin: 0px;
	}

	.col-md-6 p,
	.col-md-6 ul
	{
		text-align: center;
	}
}

/*------------------------End Footer-----------------------*/
/*----------------------WFO Home Page----------------------*/

.copyright
{
	background: transparent;
}

/*-----------------------Swap Colors-----------------------*/
/*WFO Internal*/

.internal-text i,
.internal-text span,
.internal-text a:hover
{
	color: #009edb;
}

.internal-bg
{
	background: linear-gradient(#ffffff, #77cced);
}

/*WFO Premise*/

.premise-text i,
.premise-text span,
.premise-text a:hover
{
	color: #7d3cc8;
}

.premise-bg
{
	background: linear-gradient(#ffffff, #009edb);
}

/*WFO Hosted*/

.hosted-text i,
.hosted-text span,
.hosted-text a:hover
{
	color: #009edb;
}

.hosted-bg
{
	background: #009edb;
}

/*NICE Uptivity*/

.niceup-text i,
.niceup-text span,
.niceup-text a:hover
{
	color: #009edb;
}

.niceup-bg
{
	background: linear-gradient(#ffffff, #77cced);
}

/*TW*/

.tw-text i,
.tw-text span,
.tw-text a:hover
{
	color: #00598F;
}

.tw-bg
{
	background: #00598F;
}

