/*<meta conditions="uWFO.DoNotPRINT" />*/

@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic');

@import url('reset.css');

@import url('fontawesome-all.css');

@import url('headings.css');

@import url('generalBody.css');

@import url('tables.css');

@import url('skin.css');

@import url('notifications.css');

@import url('dropdowns.css');

@import url('images.css');

@import url('https://cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.css');

@import url('lists.css');

html
{
	/* mc-master-page: url('../MasterPages/OtherTopics.flmsp'); */
}

.search,
.search-bar
{
	margin: 0 auto;
}

MadCap|searchBarProxy
{
	display: block;
	margin-left: auto;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	/* position: fixed;
	bottom: auto;
	right: auto; 
	width: 50%;*/
}

.pageHeader
{
	max-width: 1000px;
	position: unset;
	background: #ffffff;
}

.right
{
	position: absolute;
	top: 60px;
	right: 0px;
	width: 70%;
}

.left
{
	position: absolute;
	width: 50%;
	/*margin-left: 16px;*/
}

p.helpLink
{
	text-align: center;
	size: 1.25em;
}

div.siteMap1 > MadCap|xref
{
	line-height: 2.25em;
	font: 'Roboto', sans-serif;
	font-weight: 800;
	font-size: 1.25em;
	color: #005b49;
}

div.siteMap2
{
	margin-left: 16px;
	line-height: 2em;
}

div.siteMap2 > MadCap|xref
{
	font: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 700;
	color: #009edb;
}

div.siteMap3
{
	margin-left: 32px;
	line-height: 2em;
}

div.siteMap3 > MadCap|xref
{
	font: 'Roboto', sans-serif;
	color: #000000;
	font-weight: 600;
}

div.iwfo
{
	margin-top: 16px;
	margin-bottom: 16px;
	color: #009edb;
}

MadCap|topicToolbarProxy
{
	float: none;
}

input.search-field
{
	box-sizing: border-box !important;
}

div.helpLinks	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.helpLinks::before
{
	content: ' ';
	display: table;
}

div.helpLinks::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.helpLinks > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.helpLinks > a
{
	color: #009edb;
	text-decoration: underline;
}

div.helpLinks > div:nth-child(1)
{
	width: 16.667%;
	margin-left: 0%;
	align-content: center;
	border: 1px #0697d9;
}

div.helpLinks > div:nth-child(2)
{
	width: 16.667%;
	margin-left: 0%;
}

div.helpLinks > div:nth-child(3)
{
	width: 16.667%;
	margin-left: 0%;
}

div.helpLinks > div:nth-child(4)
{
	width: 16.667%;
	margin-left: 0%;
}

div.helpLinks > div:nth-child(5)
{
	width: 16.667%;
	margin-left: 0%;
}

div.helpLinks > div:nth-child(6)
{
	width: 16.667%;
	margin-left: 0%;
}

div.helpLinks > div:nth-child(7)
{
	width: 16.667%;
	margin-left: 0%;
}

div.helpLinks > div:nth-child(8)
{
	width: 16.667%;
	margin-left: 0%;
}

div.helpLinks > div:nth-child(9)
{
	width: 16.667%;
	margin-left: 0%;
}

div.helpLinks > div:nth-child(10)
{
	width: 16.667%;
	margin-left: 0%;
}

div.helpLinks > div:nth-child(11)
{
	width: 16.667%;
	margin-left: 0%;
}

div.helpLinks2	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.helpLinks2::before
{
	content: ' ';
	display: table;
}

div.helpLinks2::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.helpLinks2 > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.helpLinks2 > a
{
	color: #009edb;
	text-decoration: underline;
}

div.helpLinks2 > div:nth-child(1)
{
	width: 16.667%;
	margin-left: 8.333%;
	align-content: center;
}

div.helpLinks2 > div:nth-child(2)
{
	width: 16.667%;
	margin-left: 0%;
}

div.helpLinks2 > div:nth-child(3)
{
	width: 16.667%;
	margin-left: 0%;
}

div.helpLinks2 > div:nth-child(4)
{
	width: 16.667%;
	margin-left: 0%;
}

div.helpLinks2 > div:nth-child(5)
{
	width: 16.667%;
	margin-left: 0%;
}

div.helpLinks2 > div:nth-child(6)
{
	width: 16.667%;
	margin-left: 0%;
}

div.helpLinks2 > div:nth-child(7)
{
	width: 16.667%;
	margin-left: 0%;
}

div.helpLinks2 > div:nth-child(8)
{
	width: 16.667%;
	margin-left: 0%;
}

div.helpLinks2 > div:nth-child(9)
{
	width: 16.667%;
	margin-left: 0%;
}

div.helpLinks2 > div:nth-child(10)
{
	width: 16.667%;
	margin-left: 0%;
}

div.helpLinks2 > div:nth-child(11)
{
	width: 16.667%;
	margin-left: 0%;
}

h1.cloud
{
	border-bottom: solid 2px #0697d9;
}

a
{
	color: #009edb;
}

h1
{
	border-bottom: solid 2px #0697d9;
}

a:visited
{
	color: #005b49;
}

MadCap|xref
{
	color: #0697d9;
}

div.video
{
	border-color: #000000;
}

@media mobile
{
	ol.stepList > li > div.thumbnailImg
	{
		display: none;
	}

	div.wfmImg
	{
		display: none;
	}

	div.helpLinks > div:nth-child(1)
	{
		width: 50%;
		margin-left: 0%;
	}

	div.helpLinks > div:nth-child(2)
	{
		width: 50%;
		margin-left: 0%;
	}

	div.helpLinks > div:nth-child(3)
	{
		width: 50%;
		margin-left: 0%;
	}

	div.helpLinks > div:nth-child(4)
	{
		width: 50%;
		margin-left: 0%;
	}

	div.helpLinks > div:nth-child(5)
	{
		width: 50%;
		margin-left: 0%;
	}

	div.helpLinks > div:nth-child(6)
	{
		width: 50%;
		margin-left: 0%;
	}

	div.helpLinks > div:nth-child(7)
	{
		width: 50%;
		margin-left: 0%;
	}

	div.helpLinks > div:nth-child(8)
	{
		width: 50%;
		margin-left: 0%;
	}

	div.helpLinks > div:nth-child(9)
	{
		width: 50%;
		margin-left: 0%;
	}

	div.helpLinks > div:nth-child(10)
	{
		width: 50%;
		margin-left: 0%;
	}

	div.helpLinks > div:nth-child(11)
	{
		width: 50%;
		margin-left: 0%;
	}
}

div.helpLinks2 > div:nth-child(1)
{
	width: 50%;
	margin-left: 0%;
}

div.helpLinks2 > div:nth-child(2)
{
	width: 50%;
	margin-left: 0%;
}

div.helpLinks2 > div:nth-child(3)
{
	width: 50%;
	margin-left: 0%;
}

div.helpLinks2 > div:nth-child(4)
{
	width: 50%;
	margin-left: 0%;
}

div.helpLinks2 > div:nth-child(5)
{
	width: 50%;
	margin-left: 0%;
}

div.helpLinks2 > div:nth-child(6)
{
	width: 50%;
	margin-left: 0%;
}

div.helpLinks2 > div:nth-child(7)
{
	width: 50%;
	margin-left: 0%;
}

div.helpLinks2 > div:nth-child(8)
{
	width: 50%;
	margin-left: 0%;
}

div.helpLinks2 > div:nth-child(9)
{
	width: 50%;
	margin-left: 0%;
}

div.helpLinks2 > div:nth-child(10)
{
	width: 50%;
	margin-left: 0%;
}

div.helpLinks2 > div:nth-child(11)
{
	width: 50%;
	margin-left: 0%;
}

@media pdf
{
	/* Drop-downs */

	MadCap|dropDownHotspot
	{
		padding-top: -2px;
		color: #7d3cc8;
	}

	MadCap|dropDownHead
	{
		text-shadow: 0px;
		box-shadow: 0px 0px 0px 0px, 0px 0px 0px 0px inset, 0px 0px 0px 0px;
		page-break-after: avoid;
		padding-bottom: 0px;
		padding-left: 24px;
	}

	MadCap|dropDownBody
	{
		border: 0px;
		padding-left: 22px;
		padding-top: 0px;
	}

	MadCap|dropDownBody.up
	{
		padding-left: 0px;
	}

	MadCap|dropDown
	{
		border: 0px;
		padding-left: -12px;
		page-break-before: avoid;
	}

	li MadCap|dropDown
	{
		padding-left: 18px;
	}

	.overview
	{
		color: #ffffff;
		background-color: #ffffff;
	}

	/* General Body */

	body
	{
		text-align: left;
		font-family: 'Roboto', sans-serif;
		color: #222;
		font-size: 10pt;
		line-height: 15pt;
		width: 100%;
		max-width: 1000px;
		background-color: d3d3d3;
		padding-top: 0in;
		padding-bottom: 0in;
	}

	.break
	{
		page-break-before: always;
	}

	.preList
	{
		page-break-after: avoid;
	}

	.interface
	{
		hyphens: none;
	}

	p
	{
		widows: 3;
		orphans: 3;
		margin-bottom: 6px;
	}

	MadCap|xref
	{
		/* mc-format: '{paratext} (see page {page})'; */
		color: #009edb;
		text-decoration: underline;
	}

	span.navigationArrow:before
	{
		font-family: 'Roboto', sans-serif;
		font-weight: bold;
		content: ">";
	}

	.titleInContact
	{
		font-size: 28pt;
		color: #0093A6;
		font-weight: bold;
		border-bottom: 2px solid #fa8c00;
		margin-bottom: 24px;
		line-height: 1.5;
		hyphens: none;
		text-align: left;
		mc-heading-level: 0;
		page-break-before: avoid;
		padding-bottom: 0px;
		margin-top: 0;
		mc-hyphenate: never;
	}

	.subtitleInContact
	{
		font-size: 18pt;
		color: #009edb;
		font-weight: bold;
		border-bottom-style: none;
		padding-bottom: 0px;
		margin-top: 0;
		page-break-before: avoid;
		mc-heading-level: 0;
		mc-hyphenate: never;
	}

	/* Uptivity WFO manual titles */

	.title
	{
		font-size: 28pt;
		font-weight: bold;
		line-height: 1.5;
		color: #009edb;
		hyphens: none;
		text-align: right;
		mc-heading-level: 0;
		page-break-before: avoid;
		border-bottom: none;
		padding-bottom: 0px;
		margin-top: 0;
		mc-hyphenate: never;
	}

	/* Uptivity WFO manual subtitles */

	.subtitle
	{
		font-size: 18pt;
		font-weight: bold;
		color: #009edb;
		border-bottom-style: none;
		padding-bottom: 0px;
		margin-top: 0;
		page-break-before: avoid;
		mc-heading-level: 0;
		mc-hyphenate: never;
	}

	/* Uptivity WFO section headers */

	.section
	{
		font-size: 28pt;
		font-weight: bold;
		line-height: 1.5;
		color: #009edb;
		border-bottom-style: none;
		padding-bottom: 0px;
		margin-top: 0;
		page-break-before: always;
		mc-heading-level: 1;
		mc-hyphenate: never;
	}

	.footer
	{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
		border-top: none;
		padding: 2px 4px 2px 4px;
		font-family: Roboto;
		font-size: 10pt;
		clear: both;
	}

	.header
	{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
		border: none;
		color: #ffffff;
		padding: 2px 4px 2px 4px;
		font-family: Roboto;
		font-size: 10pt;
		clear: both;
	}

	/* Headings  */

	h1
	{
		page-break-before: always;
		page-break-after: avoid;
		line-height: 1.5;
		mc-heading-level: 2;
		padding-bottom: 8pt;
	}

	h1.cloud
	{
		color: #000000;
		page-break-before: always;
		page-break-after: avoid;
		line-height: 1.5;
		border-bottom: 2px solid #D93E00;
		mc-heading-level: 2;
		padding-bottom: 8pt;
	}

	h2
	{
		mc-heading-level: 3;
	}

	h2.Heading2
	{
		page-break-before: always;
	}

	.noTOC
	{
		mc-heading-level: 0;
	}

	h2,
	h3,
	h4,
	h5,
	h6
	{
		page-break-after: avoid;
	}

	h3,
	h4 h5,
	h6
	{
		mc-heading-level: 0;
	}

	.noBreak
	{
		page-break-after: avoid;
	}

	/* Images */

	img
	{
		page-break-before: avoid !important;
		max-width: 400px;
		padding: 4px;
		margin: 2px;
	}

	img.print
	{
		transform: scale(.25);
	}

	.thumbnailImg
	{
		page-break-before: avoid !important;
		page-break-inside: avoid !important;
		max-width: 400px;
		border: 0;
		background-color: transparent;
		line-height: 0;
		padding: 4px;
		margin: 2px;
	}

	.thumbnailImg a:before
	{
		content: none;
		page-break-before: avoid;
	}

	.imageMapPop
	{
		display: block;
	}

	.inlineImg
	{
		display: flex;
		page-break-before: always !important;
	}

	.inlineImg img
	{
		page-break-inside: avoid !important;
	}

	/* Lists */

	dt
	{
		page-break-after: avoid;
		page-break-inside: avoid;
		font-weight: bold;
		margin-top: 6px;
	}

	dd:before
	{
		font-family: 'Roboto', sans-serif;
		content: '>>';
		font-weight: bold;
		font-size: 10pt;
		color: #009edb;
	}

	dd
	{
		margin-top: 6px;
		margin-bottom: 6px;
		position: relative;
		page-break-inside: avoid;
		page-break-before: avoid;
		text-indent: -1em;
		margin-left: 1em;
	}

	ol
	{
		list-style-type: decimal;
		padding-left: 24px;
	}

	ol > li
	{
		padding-top: 0;
		padding-left: 0;
		page-break-inside: avoid;
		margin-top: 3px;
	}

	ul > li
	{
		page-break-inside: avoid;
		margin-top: 3px;
	}

	ul li.topic
	{
		margin-bottom: 6px;
		margin-left: 6px;
	}

	ul
	{
		padding-left: 8px;
		margin-top: 8px;
		margin-bottom: 8px;
		page-break-before: avoid;
	}

	.stepList
	{
		border: 0;
		list-style-type: decimal;
		padding-left: 24px;
		margin-left: 8px;
	}

	.stepList > li
	{
		padding-top: 4px;
		padding-left: 0;
		border: 0;
		page-break-inside: avoid;
	}

	.stepList > li:before
	{
		content: "";
	}

	/* Product Boxes */
	/* To reproduce the inherited left border issue in the PDF, remove the "border: 0;" line from the .<product>:before sections.  */

	.central,
	.agent,
	.studio
	{
		padding-top: 8px;
	}

	.central:before
	{
		color: #404041;
		background-color: #FFF;
		border: 0;
	}

	.studio:before
	{
		color: #7d3cc8;
		background-color: #fff;
		border: 0;
	}

	.agent:before
	{
		color: #f15d22;
		background-color: #fff;
		border: 0px;
	}

	.central .stepList
	{
		list-style-type: decimal;
		border-left: 0;
		padding-left: 32px;
	}

	.central .stepList > li
	{
		border-top: 1px solid #515964;
		padding-top: 8px;
		padding-left: 0;
	}

	.central .stepList > li:before
	{
		content: "";
	}

	.agent .stepList
	{
		list-style-type: decimal;
		border-left: 0;
		padding-left: 32px;
	}

	.agent .stepList > li
	{
		border-top: 1 px solid #fa8c00;
		padding-top: 8px;
		padding-left: 0;
	}

	.agent .stepList > li:before
	{
		content: "";
	}

	.studio .stepList
	{
		list-style-type: decimal;
		border-left: 0;
		padding-left: 32px;
	}

	.studio .stepList > li
	{
		border-top: 1px solid #397bb7;
		padding-top: 8px;
		padding-left: 0;
	}

	.studio .stepList > li:before
	{
		content: "";
	}

	/* Notifications */

	div.notificationContent p,
	div.notificationContent h3
	{
		page-break-inside: avoid;
		padding-left: 24px;
	}

	div.notification-warning,
	div.notification-tip,
	div.notification-example,
	div.notification-note,
	div.internal-note
	{
		margin: 8px;
		page-break-inside: avoid;
		padding-left: 8px;
	}

	dd > div.notification-warning,
	div.notification-tip,
	div.notification-example,
	div.notification-note
	{
		margin: 8px;
		page-break-inside: avoid;
		padding-left: 16px;
	}

	div.notificationContent p:first-child
	{
		padding-left: 24px;
	}

	div.notificationContent ol
	{
		padding-left: 24px;
	}

	div.notificationContent ul
	{
		padding-left: 24px;
	}

	div.internal-note
	{
		background-color: #D0D2D3;
		color: #404041;
	}

	div.internal-note > div.notificationContent:before
	{
		font-family: 'Roboto', sans-serif;
		font-size: 10pt;
		font-weight: bold;
		content: 'Internal:';
	}

	div.notification-warning
	{
		border: 1px solid #992222;
		background-color: transparent;
		padding-top: 4px;
	}

	div.notification-warning > div.notificationContent:before
	{
		font-family: 'Roboto', sans-serif;
		font-size: 10pt;
		font-weight: bold;
		content: 'Warning:';
	}

	div.notification-note
	{
		border: 1px solid #00598f;
		background-color: transparent;
		padding-top: 4px;
	}

	div.notification-note > div.notificationContent:before
	{
		font-family: 'Roboto', sans-serif;
		font-size: 10pt;
		font-weight: bold;
		content: 'Note:';
	}

	div.notification-tip
	{
		border: 1px solid #308935;
		background-color: transparent;
		padding-top: 4px;
	}

	div.notification-tip > div.notificationContent:before
	{
		font-family: 'Roboto', sans-serif;
		font-size: 10pt;
		font-weight: bold;
		content: 'Tip:';
	}

	div.notification-example
	{
		border: 1px solid #2b3139;
		background-color: transparent;
		padding-top: 4px;
	}

	div.notification-example > div.notificationContent:before
	{
		font-family: 'Roboto', sans-serif;
		font-size: 10pt;
		font-weight: bold;
		content: 'Example:';
	}

	/* Tables */

	.NiceUpTable tbody tr td
	{
		border: 1px solid #000000 !important;
		color: #000;
		-moz-transition: none;
		-webkit-transition: none;
		-o-transition: color 0 ease-in;
		transition: none;
	}

	.NiceUpTable td
	{
		padding: 10px;
		border-bottom: 1px solid #000000;
		page-break-inside: avoid;
	}

	.basicTable tbody tr td
	{
		border-bottom: 0;
		margin: 0;
	}

	.basicTable
	{
		border: 1px solid #000000;
		font-size: 10pt;
		color: #000000;
		line-height: 1.25;
		width: 7.5in;
	}

	.basicTable td
	{
		padding: 10px;
		border-bottom: 1px solid #000000;
		page-break-inside: avoid;
	}

	.basicTable tbody tr td
	{
		border: 1px solid #000000 !important;
		color: #000;
		-moz-transition: none;
		-webkit-transition: none;
		-o-transition: color 0 ease-in;
		transition: none;
	}

	.basicTable.commonTasks tbody tr td
	{
		border: 1px solid #000000 !important;
		-moz-transition: none;
		-webkit-transition: none;
		-o-transition: color 0 ease-in;
		transition: none;
	}

	.basicTable tr th
	{
		border: 1px solid #000000;
		color: #fff;
		background: #005b49;
		font-size: 12pt;
		page-break-after: avoid;
	}

	.basicTable th
	{
		border: 1px solid #000000;
		color: #000;
		page-break-after: avoid;
	}

	/* Supported Matrix tables */

	table.matrix
	{
		font-size: 10pt;
	}

	tr.osLogo th img
	{
		width: 36px;
		height: auto;
	}

	table.matrix th,
	table.matrix td
	{
		padding: 2px;
	}

	td.virtualization::after
	{
		content: "(6)";
	}

	.matrixNote
	{
		vertical-align: super;
		/* font-size: 8px; */
		color: red;
		font-weight: normal;
	}

	th.matrixNote-desktopMode::after,
	td.matrixNote-centralIncludes::after,
	td.matrixNote-restfulAPIs::after,
	td.matrixNote-clientConnector::after,
	td.matrixNote-verint::after,
	th.matrixNote-ie8::after,
	th.matrixNote-chromeFF::after,
	td.virtualization::after
	{
		vertical-align: super;
		/*	font-size: 8px; */
		color: red;
		font-weight: normal;
	}

	a
	{
		text-decoration: underline;
		color: #0697d9;
	}
}

@media print
{
	MadCap|xref
	{
		text-decoration: underline;
	}

	a
	{
		text-decoration: underline;
		color: #005b49;
	}
}

div.ReturnToContainerTopic
{
	padding-left: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

div.video object
{
	position: relative;
	display: block;
	border: 1px solid #2B3139;
	padding: 8px;
	margin: 8px;
	background-color: #fff;
	line-height: 0;
	style: "mc-thumbnail: popup";
	MadCap: HTML5Video "true";
	MadCap: Param_controls "true";
	MadCap: Param_muted "true";
	MadCap: Param_loop "false";
	MadCap: Param_autoplay "false";
}

/*------footer------

.copyright
{
	background: transparent;
	border-top: none;
	padding: 10px 0 5px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.copyright a
{
	margin: 0 2px;
}

.copyright p
{
	color: #fff;
	margin-top: 14px;
}


.container
{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.niceup-bg
{
	background: linear-gradient(#ffffff, #77cced);
}

.footer > div.row
{
	line-height: 30px;
	padding: 0;
}

.footer-socials
{
	margin-top: 12px;
	text-align: right;
}

.footer-socials li a
{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}

.footer-socials li a:hover
{
	color: #404041;
	text-decoration: none;
}

img.Hyperlinked
{
	border-style: none;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.col-md-6
{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.list-inline
{
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}

.list-inline > li
{
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}



------end footer------*/

