﻿/*<meta />*/

MadCap|dropDownHead
{
	padding: 4px 16px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	background: linear-gradient(#fff, #eee);
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 1px 0px 0px 0px rgba(255,255,255,0.9) inset, 0px 2px 2px rgba(0,0,0,0.1);
}

MadCap|dropDownBody
{
	padding: 16px;
	margin: 0;
	border: 1px solid #ddd;
}

MadCap|dropDown
{
	margin-top: 8px;
	mc-image-position: right;
	mc-closed-image: url('../Images/doubleChevronDownSmall_Blue.png');
	mc-open-image: url('../Images/doubleChevronUpSmall_Blue.png');
	mc-image-spacing: 16px;
}

MadCap|dropDownHotspot
{
	color: #404041;
	display: block;
}

@media non-print
{
	MadCap|xref
	{
		text-decoration: none;
	}
}

MadCap|xref
{
	text-decoration: none;
}

MadCap|dropDownHead.h2
{
	font-weight: normal;
	font-size: 16pt;
	background: #404041;
	padding: 4px 8px;
	text-shadow: none;
	color: #ffffff;
}

MadCap|dropDownHotspot.h2
{
	background-color: #404041;
	display: block;
	color: #ffffff;
}

MadCap|dropDown.h2
{
	margin-top: 8px;
	mc-image-position: right;
	mc-closed-image: url('../Images/doubleChevronDownSmall_White.png');
	mc-open-image: url('../Images/doubleChevronUpSmall_White.png');
	mc-image-spacing: 16px;
}

MadCap|dropDownHead.h3
{
	font-weight: normal;
	font-size: 16pt;
	padding: 4px 8px;
	text-shadow: none;
	color: #009edb;
}

MadCap|dropDownHotspot.h3
{
	display: block;
	color: #009edb;
}

MadCap|dropDown.h3
{
	margin-top: 8px;
	mc-image-position: right;
	mc-closed-image: url('../Images/doubleChevronDownSmall_Blue.png');
	mc-open-image: url('../Images/doubleChevronUpSmall_Blue.png');
	mc-image-spacing: 16px;
}
