/*<meta conditions="uWFO.DoNotPRINT" />*/

/*
p.footer-other
{
	color: #404041;
	padding-left: 65px;
	padding-bottom: -25px;
}

.tablepadding
{
	padding-top: 25px;
}

p.links
{
	text-align: right;
	padding-right: 65px;
	padding-bottom: -25px;
	color: #404041;
}

a.footer-links
{
	color: #404041;
	text-decoration: none;
	padding-right: 25px;
}

.copyright
{
	background: linear-gradient(#ffffff, #77cced);
	border-top: none;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.footer-socials
{
	position: relative;
	margin-top: 12px;
	text-align: right;
}

.footer-socials li a
{
	color: #404041;
	font-size: 16px;
	text-decoration: none;
}

img.Hyperlinked
{
	border-style: none;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	max-height: 20px;
}

.list-inline > li
{
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

/*--- the following didn't seem to have any impact, so I removed them from the HTML and commented them out here---
.copyright a
{
	margin: 0 2px;
}


.container
{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row
{
	line-height: 30px;
	padding: 0;
	vertical-align: middle;
}

.col-md-6
{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.footer-socials li a:hover
{
	color: #404041;
	text-decoration: none;
}

.list-inline
{
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}

*/

