﻿/*<meta />*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic');

.footer
{
	border-top: none;
	margin-top: 10px;
	padding: 10px 0px 5px;
	position: absolute;
	bottom: 0;
	width: 100%;
	background: linear-gradient(#ffffff, #77cced);
}

.col-md-6 p
{
	color: #404041;
	text-align: left;
	margin-top: 14px;
	margin-bottom: 8px;
	margin-left: 30%;
	line-height: 1.5em;
}

.col-md-6 a
{
	margin: 0 2px;
}

.col-md-6
{
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 15px;
	float: left;
	width: 50%;
	position: relative;
	min-height: 1px;
}

.col-md-6 img
{
	border: none;
}

.footer-socials
{
	text-align: right;
	padding-left: 0;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 30%;
}

.footer-socials ul
{
	margin: 0;
}

.footer-socials li 
{
	color: #404041;
	text-decoration: none;
	display: inline-block;
	padding-right: 10px;
	line-height: 1.5em;
}

.footer-socials a:link
{
	color: #404041;
	text-decoration: underline;
}

.footer-socials a:hover
{
	color: #ffffff;
}

.footer-socials a:visited
{
	color: #404041;
}

.footer-socials img
{
	margin: 0;
	padding: 0;
}