﻿/*<meta />*/

body
{
	margin: 16px;
	font-family: 'Roboto', sans-serif;
	color: #222;
	line-height: 18pt;
	font-size: 12pt;
	/* width: 94%;
	max-width: 1000px; */
}

p.code, div.code, div.code p
{
	font-family: monospace;
	font-size: 11pt;
	background-color: #d0d2d3;
}

p.caption
{
	/*margin-top: 4px;*/
	font-family: 'Roboto', sans-serif;
	color: #009edb;
	line-height: 12pt;
	font-size: 10pt;
	page-break-before: avoid;
}

b,
strong
{
	font-weight: 700;
}

i,
em
{
	font-style: italic;
}

p
{
	margin: 8px 0;
	margin-left: 2px;
}

MadCap|breadcrumbsProxy
{
	mc-breadcrumbs-prefix: '';
	font-style: italic;
	font-size: 10pt;
	border: 0;
	margin-bottom: 0px;
	padding-bottom: 0px;
	mc-breadcrumbs-count: 10;
}

p.old
{
	margin-left: 0px;
}

p.stepHeading
{
	font-size: 16pt;
	margin: 4px 0 !important;
}

/* .footer
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 24px;
	border-top: 2px solid #fa8c00;
	padding-top: 8px;
	color: #222;
	font-family: Arial;
	font-size: 10pt;
	clear: both;
	text-align: center;
}

.footer i
{
	font-size: 16pt;
	color: #ccc;
	margin: 0px 24px;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.footer i:hover
{
	color: #222;
}*/

a:active,
a:hover,
a:focus,
a:visited,
a:link
{
	outline: none !important;
}

a,
.xref
{
	text-decoration: none;
}

a:link,
.xref:link
{
	color: #009edb;
}

a:visited,
.xref:visited
{
	color: #7d3cc8;
}

a:hover,
.xref:hover
{
	color: #009edb !important;
	text-decoration: underline;
}

.back-to-top
{
	position: fixed;
	bottom: 16px;
	right: 8px;
	text-decoration: none;
	background-color: #eee;
	font-size: 10pt;
	padding: 8px;
	display: none;
	font-weight: bold;
	color: #009edb;
}

.back-to-top:hover
{
	background-color: #ddd;
	text-decoration: none;
}

.SystemSourceFile
{
	display: none;
}

.interface
{
	font-weight: bold;
}

.fieldName
{
	font-weight: bold;
	color: #00ae5a;
}

.fieldValue
{
	font-weight: bold;
	font-style: italic;
	color: #999;
}

.installSpecific
{
	font-weight: bold;
	color: #ff0000;
}

MadCap|xref
{
	mc-format: '{paratext}';
	text-decoration: none;
}

.supervisor
{
	color: #0078b4;
	background-color: #000;
}

.supervisor a:hover
{
	background-color: t8c00b;
}

.studioIntro
{
	margin: 16px;
	overflow: hidden;
}

.studioIntro p
{
	margin: 0;
	padding: 0;
}

.studioIntro img
{
	float: left;
	border: 0;
	margin: 0 16px 0 0;
	padding: 0px;
}

.tooltipContent
{
	display: none;
}

a.thisHasPopup
{
	display: block;
}

span.navigationArrow:before
{
	display: inline-block;
	vertical-align: top;
	margin-top: -2px;
	font-family: 'Font Awesome 5 Free';
	content: "\f061";
	padding: 2px;
}

@media non-print
{
	MadCap|xref
	{
		text-decoration: none;
	}
}