﻿/*<meta />*/

/*Styles a paragraph to look like an h1 */

p.heading1
{
	Font-size: 18pt;
	font-weight: bold;
	margin-top: 0.5em;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #0697d9;
	padding-bottom: 8px;
}

h1,
h2,
h3,
h4
{
	font-family: 'Droid Sans', sans-serif;
	margin: 1em 0 0.5em 0;
}

h1
{
	font-size: 18pt;
	border-bottom: 2px solid #009edb;
	padding-bottom: 8px;
	font-weight: normal;
	margin-top: 0.5em;
}

h2
{
	font-weight: normal;
	font-size: 16pt;
	background: #404041;
	padding: 4px 8px;
	color: white;
}

h3,
h3.noCaps
{
	font-weight: bold;
	font-size: 14pt;
	color: #009edb;
	text-transform: uppercase;
	border-bottom: 1px solid rgb(0,153,219);
}

h3.noCaps
{
	text-transform: none;
	border: 0;
}

h4
{
	font-weight: 700;
	font-size: 12pt;
	line-height: 20px;
}

h5.stepHeading
{
	font-size: 16pt;
	margin: 4px 0 !important;
}

h5
{
	font-size: 13pt;
	font-weight: 700;
	line-height: 20px;
	color: #00598f;
}

h6
{
	font-size: 11pt;
	font-weight: 700;
	line-height: 20px;
	text-decoration: underline;
}

h3
{
	
}

@media non-print
{
	MadCap|xref
	{
		text-decoration: none;
	}
}

MadCap|xref
{
	text-decoration: none;
}

@media print
{
	h2
	{
		mc-heading-level: 0;
	}
}
