﻿/*<meta />*/

img
{
	mc-thumbnail-max-height: auto;
	mc-thumbnail-max-width: 500px;
	border: 1px solid lightgray;
	padding: 8px;
	margin: 8px;
}

.imgTW
{
	border: none;
	/* position: fixed;
	bottom: auto;
	left: auto; */
}

.imgDefinition
{
	margin: 0px;
	padding: 0px;
	border: 0px;
	vertical-align: middle;
}

.MCDropDown_Image_Icon
{
	padding: 0;
	margin: 0;
}

.thumbnailImg
{
	position: relative;
	display: block;
	max-width: 516px;
	border: 1px solid #2B3139;
	padding: 8px;
	margin: 8px;
	background-color: #fff;
	line-height: 0;
}

.thumbnailImg a:before
{
	content: url('../Images/zoomSmall-corner.png');
	position: absolute;
	right: 0px;
	top: 0px;
}

.MCPopupThumbnail:hover
{
	cursor: zoom-in;
}

.MCPopupFullImage:hover
{
	cursor: zoom-out;
}

.MCPopupFullImage,
.MCPopupContainer,
.MCPopupThumbnail,
.MCPopupFullImage
{
	border-radius: 0;
	margin: 0;
	padding: 0;
	border: 0;
}

.MCPopupFullImage
{
	border: 1px solid #2B3139;
	padding: 8px;
}

.MCPopupContainer
{
	padding: 0;
	line-height: 0;
	border: 0;
}

.inlineImg
{
	display: inline-block;
}

@media non-print
{
	MadCap|xref
	{
		text-decoration: none;
	}
}

MadCap|xref
{
	text-decoration: none;
}
