﻿/*<meta />*/

.stepList
{
	margin-left: 8px;
	width: 92%;
	list-style-type: none;
	counter-reset: step;
}

.stepList p
{
	margin: 0;
	padding: 0;
}

.stepList > li
{
	margin: 8px;
	padding: 0 0 0 42px;
	border-top: 1px solid #0697d9;
	position: relative;
	min-height: 32px;
	left: 0;
}

.stepList > li:before
{
	color: white;
	counter-increment: step;
	content: counter(step, decimal);
	background-color: #009edb;
	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	height: 32px;
	/* Internet Explorer 10 */
	display: -ms-flexbox;
	-ms-flex-pack: center;
	-ms-flex-align: center;
	/* Firefox */
	display: flex;
	justify-content: center;
	align-items: center;
	/* Safari, Opera, and Chrome */
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	/* W3C */
	display: box;
	box-pack: center;
	box-align: center;
}

.stepList ol,
ol ol
{
	margin-left: 18px;
	list-style-type: upper-alpha;
}

.stepList ol ol,
ol ol ol
{
	list-style-type: lower-roman;
}

.stepList ol ol ol,
ol ol ol ol
{
	list-style-type: lower-alpha;
}

.stepList .dropDown
{
	margin: 0 0 0 -10px;
}

ol
{
	margin-left: 1em;
	list-style-type: decimal;
	position: relative;
}

ol li
{
	position: relative;
}

ol ul
{
	margin-left: 0;
}

ul
{
	padding-left: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
}

ul li.topic
{
	margin-bottom: 12px;
	margin-left: 32px;
}

td ul li.topic
{
	margin-bottom: 12px;
	margin-left: 0px;
}

ul,
ul ul ul
{
	list-style-type: disc;
}

ul ul,
ul ul ul ul
{
	list-style-type: circle;
}

ol:not(.stepList) > li:before
{
	content: '' !important;
	float: left;
}

li p
{
	margin: 0;
}

dl
{
	margin-left: 2px;
}

dt
{
	font-weight: bold;
	color: #000000;
}

dt.requiredField::after
{
	content: " *";
	color: red;
}

dd
{
	margin: 0 0 0 32px;
	position: relative;
}

ul > li > p:not(:first-child)
{
	margin-left: 0px;
	margin-top: 6px;
}

.basicTable ul
{
	padding-left: 8px;
}

@media non-print
{
	MadCap|xref
	{
		text-decoration: none;
	}
}

MadCap|xref
{
	text-decoration: none;
}