﻿/*<meta />*/

@import url('fontawesome-all.css');

[class^="notification-"]
{
	width: 70%;
	margin: 16px;
	position: relative;
	padding: 0 8px 8px 0;
}

div.notificationContent p
{
	margin: 0;
	padding: 4px 8px 4px 32px;
}

div.notificationContent table
{
	margin: 0;
	padding: 4px 8px 4px 32px;
}

[class^="notification"] > div.notificationContent:before
{
	font: 14px / 1 FontAwesome;
	position: absolute;
	top: 8px;
	left: 8px;
}

div.notification-warning
{
	background-color: #F2DEDB;
	color: #992222;
}

div.notification-warning img
{
	border-color: #992222;
}

div.notification-warning a
{
	/* text-decoration: underline; */
}

div.notification-warning > div.notificationContent:before
{
	font-size: 12pt;
	content: "\26a0";
}

div.notification-note
{
	background-color: #D5EEF8;
	color: #2183A5;
}

div.notification-note img
{
	border-color: #2183A5;
}

div.notification-note a
{
	/* text-decoration: underline; */
}

div.notification-note > div.notificationContent:before
{
	font-size: 12pt;
	content: "\24d8";
}

div.notification-example
{
	background-color: #C8DEC1;
	color: #45744e;
}

div.notification-example img
{
	border-color: #45744e;
}

div.notification-example a
{
	/* text-decoration: underline; */
}

div.notification-example > div.notificationContent:before
{
	position: absolute;
	font-family: 'Font Awesome 5 Free';
	font-size: 12pt;
	content: "\f245";
}

div.notifications-iwfo
{
	position: absolute;
	font-family: FontAwesome;
	font-size: 24pt;
	content: "\f071";
}

div.notification-tip
{
	background-color: #DDEFD7;
	color: #308935;
}

div.notification-tip img
{
	border-color: #308935;
}

div.notification-tip a
{
	/* text-decoration: underline; */
}

div.notification-tip > div.notificationContent:before
{
	position: absolute;
	font-family: 'Font Awesome 5 Free';
	font-size: 12pt;
	content: "\f0a4";
}


@media non-print
{
	MadCap|xref
	{
		text-decoration: none;
	}
}

MadCap|xref
{
	text-decoration: none;
}


div.internal-note
{
	background-color: #D0D2D3;
	color: #404041;
}

div.internal-note img
{
	border-color: #45744e;
}

div.internal-note a
{
	/* text-decoration: underline; */
}

div.internal-note > div.notificationContent:before
{
	position: absolute;
	font-family: 'Font Awesome 5 Free';
	font-size: 14pt;
	content: " \f2c1";
}