﻿/*<meta />*/

#body
{
	background-color: lightgray;
}

#navigation
{
	background-color: #fff;
}

#header,
#responsiveHeader
{
	background-image: linear-gradient(#363d48, #515964);
}

.tabs-nav li
{
	margin-top: 0;
	border: 0;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

html.left-layout #contentBody.no-buttons,
html.right-layout #contentBody.no-buttons
{
	top: 0;
}

#contentBody.no-buttons #contentBodyInner,
#contentBodyInner
{
	left: 0;
	right: 0;
	background-color: #fff;
}

.hide-extras.active #navigation[role="complementary"]
{
	width: 30%;
}

.active #contentBody[role="main"]
{
	margin-right: -30%;
}

.supervisor a
{
	color: #404041;
}

.supervisor a:focus
{
	font-weight: bold;
}

a:focus
{
	outline: none;
}

li tree-node tree-node-expanded tree-node-selected heading a:hover
{
	font-weight: bold;
	text-decoration: underline;
	background-color: #fff;
	color: #404041;
	cursor: default;
}

.heading,
.heading.tree-node-selected,
.heading.tree-node-selected > div,
.heading.tree-node-selected > div:hover,
.heading.tree-node-selected > div:visited,
.heading.tree-node-selected > div:active,
.heading.tree-node-selected > div:focus,
.heading:hover div,
.heading:hover a,
.heading:active div,
.heading:active a,
.heading:visited div,
.heading:visited a,
.heading:focus div,
.heading:focus a
{
	font-weight: bold !important;
	text-decoration: underline;
	color: #404041 !important;
	cursor: default;
	background-color: #fff !important;
	outline: none;
}

.MCTextPopup_Closed.MCTextPopupHotSpot_.MCTextPopupHotSpot_Popup,
.MCTextPopup_Open.MCTextPopupHotSpot_.MCTextPopupHotSpot_Popup
{
	padding: 0;
	background-image: none;
	/* color: #397bb7 !important; */
	font-weight: normal;
	border-bottom: 3px double;
	cursor: help;
}

.MCTextPopup_Closed.MCTextPopupHotSpot_.MCTextPopupHotSpot_Popup:hover,
.MCTextPopup_Open.MCTextPopupHotSpot_.MCTextPopupHotSpot_Popup:hover
{
	/* text-decoration: none; */
}

.searchTips
{
	background-color: #F3F3F3;
	color: #868686 !important;
	font-family: arial, sans-serif;
	font-size: 15px;
	padding: 16px;
	white-space: nowrap;
	margin: 24px;
}

.searchTips > p
{
	color: #868686 !important;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 16pt;
}

.searchTips .searchTipsList
{
	display: inline-block;
	white-space: normal;
	width: 50%;
	vertical-align: top;
}

.searchTips .searchTipsList ul
{
	margin: 0;
	padding: 0 16px;
}

.searchTips .searchTipsList ul li
{
	margin: 8px;
}

@media only screen and (min-width: 1279px)
{
	#contentBody.no-buttons #contentBodyInner
	{
		top: 0;
		background-color: #fff;
	}
}

@media non-print
{
	MadCap|xref
	{
		text-decoration: none;
	}
}

MadCap|xref
{
	text-decoration: underline;
}