﻿/*<meta />*/

/* Home Page General Styles*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic');

@import url('fontawesome-all.css');

/*small-4 is both sites "quick links" top row. small-6 is Internal site "quick links" bottom row. small-3 appears to be nothing - commenting out and will delete if that doesn't break anything.*/

.small-4.columns,
.small-6.columns
{
	text-align: center;
}

.small-4 ul,
.small-6 ul
{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

.small-4 h3,
.small-6 h3
{
	color: #404041;
	font-size: 1.3em;
	margin: 8px;
}

.small-4 i,
.small-6 i
{
	font-size: 3em;
	color: #009edb;
}

.small-4 a,
.small-6 a
{
	color: darkgray;
	text-decoration: none;
}

.small-4 a:hover,
.small-6 a:hover
{
	color: #009edb;
	text-decoration: underline;
}

.small-4 > a:hover,
.small-6 > a:hover
{
	text-decoration: none;
}

.small-4 p,
.small-6 p
{
	margin: 0;
}

body
{
	font-family: 'Helvetica Neue', sans-serif;
	line-height: 1.5em;
	color: #404041;
}

/*---- heading styles ----*/
h1
{
	font-weight: normal;
	text-align: center;
	color: #404041;
}

.site
{
	font-size: 30pt;
}

.product
{
	font-size: 16pt;
}            

h2
{
	font-weight: normal;
	font-size: 20pt;
	text-align: center;
	color: #404041;
}

p
{
	color: #404041;
	margin-bottom: 8px;
	margin-top: 8px;
}

.centered-text
{
	text-align: center;
}

.main-section > .row.outer-row
{
	max-width: 100%;
	padding: 0;
}

/* Responsive Header Styles*/

#contentBody > .responsive-header
{
	background-color: transparent;
}

/* Content Section */

#content-section
{
	/* padding-top: 60px; */
	padding-bottom: 60px;
	/* margin-top: -50px; */
	background-color: #ffffff;
}

#content-section h3
{
	font-weight: normal;
}

.right-section div.button-group,
.left-section div.button-group
{
	margin-top: 20px;
}

#content-section .left-section
{
	padding-right: 20px;
}

#content-section .right-section
{
	padding-left: 20px;
}

.left-section .left-content,
.right-section .right-content
{
	height: 270px;
}

#content-section .right-section .table-images:first-of-type
{
	margin-bottom: 20px;
}

#content-section.mc-blurb .mc-bullets
{
	margin-top: 10px;
	padding-left: 30px;
	padding-right: 10px;
}

#content-section.mc-blurb .mc-bullets > li
{
	color: #5a5a5a;
	list-style-image: url('../Images/Bullet1.png');
	font-size: 14px;
	margin-top: 8px;
	line-height: 1.6em;
}

/*Originally used for "topic hero." Was going to delete but didn't test first. This is the test.
#contentBody
{
	background-color: #ffffff;
}

/* Mad Cap proxy/editor assigned styles */

MadCap|topicToolbarProxy
{
	float: none;
}

p.TOC2
{
	margin-left: 20px;
	display: none;
}

MadCap|menuProxy.menu1
{
	mc-toc-depth: 1;
	mc-context-sensitive: True;
}

MadCap|menuProxy.menu2
{
	mc-toc-depth: 1;
	mc-context-sensitive: True;
}

/*--------------------------Responsive Body Content-----------------------------*/

div.SingleColumnResponsive
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.SingleColumnResponsive::before
{
	content: ' ';
	display: table;
}

div.SingleColumnResponsive::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.SingleColumnResponsive > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media tablet
{
	
}

@media mobile
{
	div.SingleColumnResponsive > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.SingleColumnResponsive > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.SingleColumnResponsive > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.SingleColumnResponsive > div:nth-child(4)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.SingleColumnResponsive > div:nth-child(5)
	{
		width: 100%;
		margin-left: 0%;
	}
}

/*------------------------End Responsive Body Content---------------------------*/
/*-------------------------------WFO Body Styles-------------------------------*/

html.HomePageWFO
{
	/* mc-master-page: url('Content/Resources/MasterPages/HomePage2.flmsp'); */
	mc-community-features: disabled;
}

.small-3 i,
.small-4 i,
.small-6 i
{
	font-size: 3em;
	color: #005b49;
}

.small-3 a:hover,
.small-4 a:hover,
.small-6 a:hover
{
	color: #005b49;
}

p a
{
	color: #009edb;
	text-decoration: underline;
}

a
{
	color:#009edb;
}

.super-text
{
	font-size: 28px;
	padding-top: 0px;
	padding-bottom: 8px;
	margin-left: -175px;
	margin-bottom: -35px;
	margin-top: 0px;
	color: #fff;
	font-weight: normal;
	/* text-shadow: 2px 2px #000; */
}

.whiteheader
{
	color: #fff;
	font-weight: bold;
	padding-bottom: 20px;
	/* text-shadow: 2px 2px #000; */
}

.outer-row .columns
{
	margin-top: 15px;
	margin-bottom: 24px;
}

.divider-spacer
{
	padding-top: 20px;
	padding-bottom: 20px;
}

.divider-line span
{
	border-bottom: none;
	background: #fff;
	padding: 0 10px;
	color: #005b49;
}

.divider-line
{
	width: 80%;
	text-align: center;
	border-bottom: 1px solid darkgray;
	line-height: 0.1em;
	margin: 10px 10% 20px;
}

.pushright
{
	padding-right: 200px;
}

.pushleft
{
	padding-left: 200px;
}

/*-------------------------------End WFO Body Styles---------------------------*/
/* -------------------------------------Footer---------------------------------*/
/* Home Page Footer */

.footer
{
	padding-top: 40px;
	padding-bottom: 40px;
	color: #ffffff;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.footer a
{
	text-decoration: none;
	color: #d0d2d3;
}

.footer > div.row
{
	line-height: 30px;
	padding: 0;
}

.footer-logo
{
	max-width: 100%;
}

.footer-links
{
	text-align: left;
	color: #ffffff;
}

.footer-links a
{
	padding-right: 15px;
}

.footer-icons
{
	text-align: right;
}

.footer-icons > a:first-of-type
{
	padding-right: 10px;
}

/*Copyright*/

.copyright
{
	/*background: #fa8c00;*/
	border-top: none;
	padding: 10px 0 5px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.copyright p
{
	margin-top: 14px;
}

.footer-socials li a
{
	color: #404041;
	font-size: 16px;
	text-decoration: none;
	margin: 0 2px;
}

.footer-socials li a:hover
{
	color: #404041;
	text-decoration: none;
}

@media (max-width: 991px)
{
	.copyright,
	.footer-socials
	{
		text-align: left;
	}
}

/*applies to external footer divs*/
.col-md-6
{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

@media (min-width: 992px)
{
	.col-md-6
	{
		width: 50%;
	}
}

@media (min-width: 992px)
{
	.col-md-6
	{
		float: left;
	}
}

@media (min-width: 1024px)
{
	.copyright .container
	{
		width: 1000px;
	}
}

@media (min-width: 1200px)
{
	.copyright .container
	{
		width: 1170px;
	}
}

@media (min-width: 992px)
{
	.container
	{
		width: 970px;
	}
}

@media (min-width: 768px)
{
	.container
	{
		width: 750px;
	}
}

.container
{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.footer-socials
{
	margin-top: 12px;
	text-align: right;
}

.list-inline
{
	padding-left: 0;
	margin-left: -5px;
	list-style: none;

}

.list-inline > li
{
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	color: 404041;
}

@media tablet
{
	.mobileFooter
	{
		padding-bottom: 35px;
	}

	.col-md-6 p,
	.col-md-6 ul
	{
		text-align: center;
	}
}

@media mobile
{
	.mobileFooter
	{
		padding-bottom: 45px;
	}

	.col-md-6 ul li a,
	.col-md-6 p
	{
		font-size: 13px;
		margin: 0px;
	}

	.col-md-6 p,
	.col-md-6 ul
	{
		text-align: center;
	}
}

/*------------------------End Footer-----------------------*/



/*----------Previously used for different colors on different versions of the site. Can rewrite this as all sites use same colors now-------*/
/*WFO Internal*/

.internal-text i,
.internal-text span,
.internal-text a:hover
{
	color: #009edb;
}

.internal-bg
{
	background: linear-gradient(#ffffff, #77cced);
}

/*NICE Uptivity*/

.niceup-text i,
.niceup-text span,
.niceup-text a:hover
{
	color: #009edb;
}

.niceup-bg
{
	background: linear-gradient(#ffffff, #77cced);
}

/*TW*/

.tw-text i,
.tw-text span,
.tw-text a:hover
{
	color: #00598F;
}

.tw-bg
{
	background: #00598F;
}