﻿/*<meta />*/

.apiTable
{
	text-align: left;
	margin: 16px;
}

.apiTable th
{
	color: #fff;
	font-size: 1.1em;
	background-color: #005b49;
	padding: 8px;
	text-align: left;
}

.apiTable tr td
{
	padding: 8px 16px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

.DataTable
{
	text-align: left;
	margin: 16px;
}

.DataTable th
{
	color: #fff;
	font-size: 1.1em;
	background-color: #0697d9;
	padding: 8px;
	text-align: left;
}

.DataTable tr td
{
	padding: 8px 16px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

.DataTable tr td:first-child
{
	background-color: #c8c8c8;
	font-weight: bold;
}

.basicTable tbody tr:hover td
{
	background-color: #ddd;
	color: #222;
}

.apiTable tr td:first-child
{
	background-color: #c8c8c8;
	font-weight: bold;
}

.NiceUpTable
{
	text-align: left;
	margin: 16px;
}

.NiceUpTable th
{
	color: #fff;
	background-color: #009edb;
	padding: 8px;
}

.NiceUpTable tbody tr td
{
	padding: 8px 16px;
	background-color: #fff;
	color: #000000;
	border-bottom: 1px solid #ddd;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.NiceUpTable tbody tr:hover td
{
	background-color: #ddd;
	color: #222;
}

.NiceUpTable.commonTasks tbody tr td
{
	padding: 8px 16px;
	background-color: #fff;
	color: #00a1e1;
	border-bottom: 1px solid #ddd;
	vertical-align: top;
}

.NiceUpTable.commonTasks tbody tr:hover td
{
	background-color: #fff;
	color: #00a1e1;
}

.basicTable
{
	text-align: left;
	margin: 16px;
}

.basicTable th
{
	color: #fff;
	background-color: #0697d9;
	padding: 8px;
}

.basicTable tbody tr td
{
	padding: 8px 16px;
	background-color: #fff;
	color: #0078b4;
	border-bottom: 1px solid #ddd;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.basicTable tbody tr:hover td
{
	background-color: #ddd;
	color: #222;
}

.basicTable.commonTasks tbody tr td
{
	padding: 8px 16px;
	background-color: #fff;
	color: #0078b4;
	border-bottom: 1px solid #ddd;
	vertical-align: top;
}

.basicTable.commonTasks tbody tr:hover td
{
	background-color: #fff;
	color: #0078b4;
}

.basicTable tr td:first-child
{
                font-weight: normal;
} 

.permissionTable
{
	text-align: left;
	margin: 16px;
}

.permissionTable th
{
	color: #fff;
	background-color: #0697d9;
	padding: 8px;
}

.permissionTable tbody tr td
{
	padding: 8px 16px;
	background-color: #fff;
	color: #397bb7;
	border: 1px solid #ddd;
	-webkit-transition: all 0.10s ease-in-out;
	-moz-transition: all 0.10s ease-in-out;
	transition: all 0.10s ease-in-out;
}

.permissionTable tbody tr:hover td
{
	background-color: #ddd;
	color: #222;
}

.flowTable
{
	text-align: left;
	margin: 16px;
}

.flowTable th
{
	color: #fff;
	background-color: #fa8c00;
	padding: 8px;
}

.flowTable tbody tr td
{
	padding: 8px 16px;
	background-color: #fff;
	color: #397bb7;
	border: 1px solid #ddd;
}

.productIcons
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.metricDefinitionTable
{
	text-align: left;
	margin-bottom: 16px;
}

.metricDefinitionTable th
{
	color: #fff;
	background-color: #fa8c00;
	padding: 8px;
	text-align: left;
}

.metricDefinitionTable tbody tr td
{
	padding: 8px 16px;
	color: #397bb7;
	border-bottom: 1px solid #ddd;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.metricDefinitionTable td
{
	padding-left: 20px;
	background-color: #ffe2b5;
	font-weight: bold;
}

.metricDefinitionTable td + td
{
	background-color: #fff;
	font-weight: normal;
}

td.rightAlign,
th.rightAlign
{
	text-align: right;
}

/* table.basicTable > tbody > tr:first-child > td:first-child
{
	min-width: 150px;
} */

/* Supported Matrix tables */

table.StudioScriptTypes
{
	text-align: center;
	margin-left: 0px;
	margin-right: auto;
	line-height: 3px;
}

.StudioScriptTypes img
{
	border: 0;
}

tr.StudioScriptTypes
{
	font-size: 11px;
	text-align: center;
}

table.StudioActionDescription
{
	text-align: left;
	margin-left: 2px;
	margin-right: auto;
	line-height: 24px;
}

table.matrix
{
	border-collapse: separate;
	border-spacing: 2px;
}

table.matrix tbody tr td:first-child
{
	text-align: right;
}

table.matrix th
{
	padding: 2px 8px;
	vertical-align: baseline;
}

table.matrix td
{
	padding: 4px 8px;
}

td.unsupported,
td.supported,
td.notApplicable,
td.virtualization
{
	text-align: center;
}

td.unsupported
{
	color: red;
	background-color: pink;
}

/*
td.unsupported::after
{
	content: "\2717";
}
*/

.matrix tr td,
.matrix td img
{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: middle;
}

td.supported
{
	color: green;
	background-color: lightgreen;
}

/*
td.supported::after
{
	content: "\2713";
}
*/

span.supportedPermission:before
{
	display: inline-block;
	vertical-align: top;
	margin-top: -2px;
	font-family: FontAwesome;
	content: "\f00c";
	padding: 2px;
}

td.notApplicable
{
	color: darkgray;
	background-color: lightgray;
}

/*
td.notApplicable::after
{
	content: "n/a";
}
*/

.matrixNote
{
	vertical-align: super;
	font-size: smaller;
	color: red;
	font-weight: normal;
}

.centerCell
{
	text-align: center;
}

tr.flags th img
{
	width: 32px;
	height: auto;
	border: none;
	padding: 0;
	margin: 0;
}

tr.osLogo th img
{
	width: 64px;
	height: auto;
	border: none;
	padding: 0;
	margin: 0;
}

tr.osLogo th
{
	padding-bottom: 0;
}

tr.osName th
{
	padding-top: 0;
}

tr.osVersion th
{
	font-weight: normal;
	font-size: 12px;
}

tr.osVersion
{
	line-height: 10px;
}

tr.osLogo
{
	line-height: 0;
}

tr.osName
{
	line-height: 12pt;
}

table.StudioScriptTypes
{
	
}

table.basicTable
{
	text-align: left;
}

col
{
	
}

div.linksTable	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.linksTable::before
{
	content: ' ';
	display: table;
}

div.linksTable::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.linksTable > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.linksTable > div:nth-child(1)
{
	width: 50%;
	margin-left: 0%;
	height: 2.5em;
	padding-top: .5em;
}

div.linksTable > div:nth-child(2)
{
	width: 50%;
	margin-left: 0%;
	height: 2.5em;
	padding-top: .5em;
}

div.RowOneCellsThree	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.RowOneCellsThree::before
{
	content: ' ';
	display: table;
}

div.RowOneCellsThree::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.RowOneCellsThree > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.RowOneCellsThree > div:nth-child(1)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.RowOneCellsThree > div:nth-child(2)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.RowOneCellsThree > div:nth-child(3)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.DocsTable	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.DocsTable::before
{
	content: ' ';
	display: table;
}

div.DocsTable::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.DocsTable > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.DocsTable > div:nth-child(1)
{
	width: 25%;
	margin-left: 0%;
	padding-top: .5em;
}

div.DocsTable > div:nth-child(2)
{
	width: 8.3333%;
	margin-left: 0%;
	padding-top: .5em;
}

div.DocsTable > div:nth-child(3)
{
	width: 8.3333%;
	margin-left: 0%;
	padding-top: .5em;
}

div.DocsTable > div:nth-child(4)
{
	width: 8.3333%;
	margin-left: 0%;
	padding-top: .5em;
}

div.DocsTable > div:nth-child(5)
{
	width: 8.3333%;
	margin-left: 0%;
	padding-top: .5em;
}

div.DocsTable > div:nth-child(6)
{
	width: 8.3333%;
	margin-left: 0%;
	padding-top: .5em;
}

div.DocsTable > div:nth-child(7)
{
	width: 8.3333%;
	margin-left: 0%;
	padding-top: .5em;
}

div.DocsTable > div:nth-child(8)
{
	width: 8.3333%;
	margin-left: 0%;
	padding-top: .5em;
}

div.DocsTable > div:nth-child(9)
{
	width: 8.3333%;
	margin-left: 0%;
	padding-top: .5em;
}

div.DocsTable > div:nth-child(10)
{
	width: 8.3333%;
	margin-left: 0%;
	padding-top: .5em;
}

div.DataDictionary	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.DataDictionary::before
{
	content: ' ';
	display: table;
}

div.DataDictionary::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.DataDictionary > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.DataDictionary > div:nth-child(1)
{
	width: 50%;
	margin-left: 0%;
}

div.DataDictionary > div:nth-child(2)
{
	width: 50%;
	margin-left: 0%;
}

@media non-print
{
	MadCap|xref
	{
		text-decoration: none;
	}
}

MadCap|xref
{
	text-decoration: none;
}

@media tablet
{
	div.linksTable > div:nth-child(1)
	{
		width: 50%;
		margin-left: 0%;
	}

	div.RowOneCellsThree > div:nth-child(1)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.RowOneCellsThree > div:nth-child(2)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.RowOneCellsThree > div:nth-child(3)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.DocsTable > div:nth-child(1)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.DocsTable > div:nth-child(2)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.DocsTable > div:nth-child(3)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.DocsTable > div:nth-child(4)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.DocsTable > div:nth-child(5)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.DocsTable > div:nth-child(6)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.DocsTable > div:nth-child(7)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.DocsTable > div:nth-child(8)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.DocsTable > div:nth-child(9)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.DocsTable > div:nth-child(10)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.DataDictionary > div:nth-child(1)
	{
		width: 50%;
		margin-left: 0%;
	}

	div.DataDictionary > div:nth-child(2)
	{
		width: 50%;
		margin-left: 0%;
	}
}

@media mobile
{
	div.linksTable > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
		height: 2.5em;
	}

	div.RowOneCellsThree > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.RowOneCellsThree > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.RowOneCellsThree > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.DocsTable > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.DocsTable > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.DocsTable > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.DocsTable > div:nth-child(4)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.DocsTable > div:nth-child(5)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.DocsTable > div:nth-child(6)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.DocsTable > div:nth-child(7)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.DocsTable > div:nth-child(8)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.DocsTable > div:nth-child(9)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.DocsTable > div:nth-child(10)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.DataDictionary > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.DataDictionary > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}
}